</main>
<footer class=" mt-6 desktop:py-6 mobile:py-2 px-12 bg-[#cad2c5] rounded-lg shadow">
    <div class="flex desktop:flex-row mobile:flex-col items-center justify-between mt-2">
        <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-600">Toujours prête pour un nouveau défi</span>
        <ul class="flex flex-wrap items-center desktop:mb-6 mobile:mb-0 desktop:mt-0 mobile:mt-2">
            <li>
                <a href="https://www.linkedin.com/in/justineblanchetdev/" target="_blank" class="desktop:text-xl mobile:text-lg text-gray-600 hover:font-bold mr-6">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/JustineBlanchet" target="_blank" class="desktop:text-xl mobile:text-lg text-gray-600 hover:font-bold mr-6">GitHub</a>
            </li>
            <li>
                <a href="mailto:blanchet.justine@laposte.net" class="desktop:text-xl mobile:text-lg text-gray-600 hover:font-bold">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="desktop:my-6 mobile:my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 text-center">© 2022 Justine Blanchet. All Rights Reserved.
    </span>
</footer>
</body>
</html>